* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 20px;
    width: 400px;
    height: 420px;
    border: 1px solid gray;
}

.instagram {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.username {
    margin: 0px 55px 10px;
}

input {
    width: 290px;
    height: 40px;
}

.password {
    margin: 0px 55px 10px;
}

.loginBtn {
    width: 290px;
    height: 30px;
    margin-left: 55px;
    background-color: #1877F2;
    border: none;
    color: #fff;
    font-family: revert;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
}

.line {
    display: flex;
    justify-content: center;
}

.first {
    width: 32%;
    margin-right: 10px;
}

.second {
    margin-left: 10px;
    width: 32%;
}

.login-facebook {
    font-size: 16px;
}

.login-facebook a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 40px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login-facebook a i {
    margin-right: 5px;
}

.forgot a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-family: sans-serif;
}

.signup {
    width: 400px;
    height: 50px;
    margin-top: 50px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}