* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 20px;
    width: 400px;
    height: 440px;
    border-radius: 2px;
    border: 1px solid rgb(217, 214, 214);
}

.instagram {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
    cursor: pointer;
}

.username {
    margin: 0px 55px 10px;
}

input {
    width: 290px;
    height: 40px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 2px;
    color: #808080;
    font-size: 12px;
}

.password {
    margin: 0px 55px 10px;
}

.loginBtn {
    width: 290px;
    height: 30px;
    margin-left: 55px;
    background-color: #1877F2;
    border: none;
    color: #fff;
    font-family: revert;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
}

.seperator {
    display: flex;
    justify-content:center;
    align-items: center;
    color: #999;
}

.seperator .line {
    height: 0.1px;
    width: 30%;
    margin: 0px 10px;
    background-color: rgb(209, 208, 208);
}

.seperator p {
    font-family: sans-serif;
    font-size: 14px;
}

.login-facebook {
    font-size: 15px;
}

.login-facebook a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #385185;
}

.login-facebook a i {
    margin-right: 5px;
}

.forgot a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 11px;
    color: #003569;
}

.signup {
    width: 400px;
    height: 60px;
    margin-top: 50px;
    border: 1px solid rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: sans-serif;
}

.signup a {
    text-decoration: none;
    margin-left: 5px;
    font-weight: 600;
    color: #3897f0;
}

.get-the-app {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 14px;
    font-family: sans-serif;
}

.image {
    margin-top: 10px;
}

.image img{
    width: 140px;
    height: 40px;
    display: inline;
    justify-content: center;
    align-items: center;
}

.image .apple {
    margin-left: 35px;
    margin-right: 45px;
}

footer {
    margin: 1%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    left: 24rem;
    padding-bottom: 50px;
}

footer a {
    margin: 8px;
    font-size: 14px;
}

.links a {
    text-decoration: none;
    color: #808080;
}

#dropdown {
    position: absolute;
    left: 15rem;
    border: none;
    color: #808080;
    margin-top: 0.9rem;
}

.copyright {
    position: absolute;
    left: 20rem;
    text-decoration: none;
    color: #808080;
}
